<div class="layui-card">
    <div class="layui-card-header" id="interviewStatus">目前环节：同意面试 19年3月28日 下午两点</div>
    <div class="layui-card-header">沟通思路</div>
    <div class="layui-card-body layui-row layui-col-space10">
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">话术指引</h3>
                    <p id="projectTaskHint">
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">开场白</h3>
                    <p id="prologue">
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <div class="layui-timeline-content layui-text">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">工作状态</label>
                            <select class="form-control" id="userCurJobState">
                                <option value=-1></option>
                                <option value=1>在职,不找工作</option>
                                <option value=2>在职,考虑新机会</option>
                                <option value=3>离职,正在找工作</option>
                                <option value=4>其他</option>
                            </select>
                            <!--                      -->

                        </div>
                    </form>
                </div>
            </li>
            <li class="layui-timeline-item">
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">沟通工作地点</h3>
                    <p id="workplace">
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <div class="layui-timeline-content layui-text">
                    <h6 class="layui-col-sm12" id="userBasicShowExpectPlace">期望工作地:</h6>

                </div>
            </li>

            <li class="layui-timeline-item">
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">沟通工作意愿</h3>
                    <p id="work_purpose">
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <div class="layui-timeline-content layui-text">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">期望行业</label>
                            <select class="form-control" id="userExpectArea">
                                <option value=-1></option>
                                <option value=1>计算机软件</option>
                                <option value=2>通信</option>
                                <option value=3>建筑</option>
                                <option value=4>房地产</option>
                                <option value=5>家居装修</option>
                                <option value=6>其他</option>
                            </select>
                        </div>
                    </form>
                </div>
            </li>
            <li class="layui-timeline-item">
                <div class="layui-timeline-content layui-text">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">期望岗位</label>
                            <select class="form-control" id="userExpectPost">
                                <option value=-1></option>
                                <option value=1>普通员工</option>
                                <option value=2>项目经理</option>
                                <option value=3>总监</option>
                            </select>
                        </div>
                    </form>
                </div>
            </li>

            <li class="layui-timeline-item">
                <div class="layui-timeline-content layui-text">
                    <div class="layui-form-item">
                        <h6>期望薪水(元/月)</h6>
                        <h5 class="layui-col-sm12">
                            <input type="text" id="userExpectSalary" name="gender" placeholder="单位/元" autocomplete="off"
                                   class="layui-input layui-from-checked">
                        </h5>
                    </div>
                </div>
            </li>


            <li class="layui-timeline-item">
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">微信邀请</h3>
                    <p id="wechat_invite">
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
